{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}
    {% if  user.is_authenticated %}
    <h1>Rango says...hello {{ user.username }}</h1>
      <a href=" {% url 'add_category'%}">Add a New Category</a><br/>
    <br>
    {% else %}
    <h1>Rango says...hello world!</h1> <br>
    {% endif %}
  {% if categories %}
    <ul>
        {% for category in categories %}
        <li><a href="{% url 'category'  category.slug%}">{{category.name}}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <strong>There are no available categories</strong> {% endif %}
    <br>
    {% if most_viewed_pages %}
        <h1>Most popular pages</h1>
         {% for page in most_viewed_pages %}
            <ul>
                <li><a href="{{ page.url }}">{{ page.title }}({{ page.views }})</a> </li>
            </ul>
         {% endfor %}

    {% endif %}
{% endblock body_block %}


